<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>SYMBOL</th>
          <th>SERIES</th>
          <th>OPEN</th>
          <th>HIGH</th>
          <th>LOW</th>
          <th>CLOSE</th>
          <th>LAST</th>
          <th>PREVCLOSE</th>
          <th>TOTTRDQTY</th>
          <th>TOTTRDVAL</th>
          <th>TIMESTAMP</th>
          <th>TOTALTRADES</th>
          <th>ISIN</th>
        </tr>
      </thead>
       <tbody> 
        <tr *ngFor="let data of fetchedData">
          <td>{{ data.SYMBOL }}</td>
          <td>{{ data.SERIES }}</td>
          <td>{{ data.OPEN }}</td>
          <td>{{ data.HIGH }}</td>
          <td>{{ data.LOW }}</td>
          <td>{{ data.CLOSE }}</td>
          <td>{{ data.LAST }}</td>
          <td>{{ data.PREVCLOSE }}</td>
          <td>{{ data.TOTTRDQTY }}</td>
          <td>{{ data.TOTTRDVAL }}</td>
          <td>{{ data.TIMESTAMP }}</td>
          <td>{{ data.TOTALTRADES }}</td>
          <td>{{ data.ISIN }}</td>
        </tr>
       </tbody> 
    </table>
  </div>
  