<div class="home">
  <h2>Home Page</h2>
  <div class="button-container">
            <!-- <button routerLink="/range-calc">Go to Range Calculator</button> -->
            <button routerLink="/index">index</button>
            <button routerLink="/stocks">stocks</button>
            <button routerLink="/fno">fno</button>
            <button routerLink="/full">full</button>
            <button routerLink="/range-calc">range-calc</button>
            <button routerLink="/csv-combiner">csv-combiner</button>

  </div>
</div>
